.App {
  text-align: center;
}

body {
  background-color: lightgrey;
  scroll-behavior: smooth;
  /*
  -ms-overflow-style: none;
  scrollbar-width: none;
  */
}
/*
body::-webkit-scrollbar {
  display: none;
}

.pokemon-list{
  padding-top: 15%;
}
/*Pokedex Page*/
.pokedex-content {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  margin: 2rem 0;
  margin-bottom: 250px;
  width:100%;
}

.pokedex-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokedex-card {
  width: 14rem;
}

.pokedex-card .top-card-holder {
  height: 14rem;
}

.pokedex-gradient {
  position: relative;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}

.pokedex-pokeball-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../public/img/background_pokeball.png");
  background-size: 80%;
  background-position: bottom 10% right 10%;
  background-repeat: no-repeat;
}

.pokedex-image {
  width:90%;
  max-height:100%;
}

.shiny-sparkles {
  position: absolute;
  top: 0;
  left: 0;
  width:25%;
  height:25%;
}

.pokedex-data-holder{
  margin: 0 0 0 10%;
}

.pokedex-number {
  color: #6A6A6A;
  font-size: 0.7rem;
  font-weight: 700;
}

.pokedex-name {
  color: black;
  font-weight:700;
  font-size:1.5rem;
  font-weight: 700;
}

.pokedex-types-alignment {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 3%;
  margin-top: 0.5rem;
}

.pokedex-type-img {
  width: 45%;
}

.button-holder {
  display: flex;
  justify-content: space-around;
}

.capture-button {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0 15%;
  background-color: #dc3545;
  margin: 0px;
  border: solid white 0.2rem;
  transition: 0.5s;
  margin-top:0.5rem;
}

.capture-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: solid #dc3545 0.2rem;
  color: #dc3545;
  transition: 0.5s;
}

/*Navbar*/

.color-red{
  background-color: #FF3E3E;
}

.follow-scroll-navbar{
  position: fixed;
  width: 100%;
  z-index: 3;
}

.row{
  margin: 0px !important;
}

.navbar-text-link{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 4.2%;
  width: 85.8%;
}

.navbar-items, .navbar-items:hover{
  width: fit-content;
  color: aliceblue;
  font-size: 250%;
  font-family: 'Righteous', cursive;
}

.home-button-image {
  width: 10%;
  max-width: 10px;
  height: 10%;
  max-height: 10px;
  z-index: 2;
  transform: scale(1.1);
}

.pokedex-top-part-shape{
  background-image: url('../public/img/navbar.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15%;
  height: 50px;
}

.pokedex-style-gradient{
  background-image: linear-gradient(#00C2FF, rgb(5,133,184, 0));
  border-radius: 0%;
  height: 100px;
  width: 100%;
  z-index: 1;
}

/*Footer*/

.footer-z-index{
  z-index: 2;
}

.pokedex-style-gradient-upward{
  background-image: linear-gradient(to top,#00C2FF, rgb(5,133,184, 0));
  border-radius: 0%;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: end;
}

.pokedex-bot-part-shape{
  background-image: url('../public/img/footer.png');
  background-size: cover;
  width: 100%;
  margin-left: 6%;
  height: 50px; 
}


.center-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.white-text, .white-text a{
  color: white !important; 
  font-family: 'Righteous', cursive;
  font-size: 100%;
  text-decoration: none;
}

.white-text a:hover{
  color: white !important; 
  font-family: 'Righteous', cursive;
  font-size: 100%;
  font-weight: 600;
}

.color-dark-red{
  background-color: rgb(255, 45, 45);
}

/* FLOATING BUTTON */
.floating-button-holder {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.edit-pokemon {
  position: fixed;
  bottom: 125px;
  right: 20px;
}

.delete-pokemon {
  position: fixed;
  bottom: 230px;
  right: 20px;
}

.edit-pokemon:hover {
  color: white;
}

.floating-button {
  width:5rem;
  height:5rem;
  border-radius:100%;
  font-size: 3rem;
  font-weight:700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align:middle;
}

.floating-button p {
  padding-top: 5px;
}

/* FILTERS */

.filters-button-column {
  display: flex;
  align-items: flex-end;
}

.shiny-check {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.filters-button {
  margin: 20% 0%;
}

.top-page-spacing {
  padding-top: 11rem;
}

.back-button {
  margin-left: 1rem;
}

.text-muted {
  color: #FF3E3E !important;
}

/*Pokemon Page*/

.pokemon-content{
  display: inline-grid;
  overflow: auto;
  margin: 2rem 10%;
}

@media screen and (min-width: 1501px){
  .pokemon-content {
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    row-gap: 0.7%;
  }
}

@media screen and (min-width: 1008px) and (max-width: 1500px){
  .pokemon-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    row-gap: 0.5%;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px){
  .pokemon-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    row-gap: 0.6%;
  }
}

@media screen and (max-width: 640px) and (min-width : 375px){
  .pokemon-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    row-gap: 0.25%;
  }
}

@media screen and (max-width: 374px) {
  .pokemon-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25%;
  }
}

.pokemon-block{
  background-color: aliceblue;
  border-radius: 10%;
}

.pokemon-card {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

.pokemon-gradient {
  position: relative;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
  height: 100%;
}

.pokemon-shiny-sparkles {
  position: absolute;
  top: 0;
  left: 0;
  width:25%;
  height:25%;
}

.pokemon-top-card-holder{
  height: 60%;
}
.parent-image-pokemon-container{
  width: 100%;
  height: 100%;
}

.pokemon-image-container{
  height: 100%;
  width: 100%;
}

.pokemon-image {
  max-height: 90%;
  min-height: 80%; 
  max-width: 90%;
  min-width: 80%

}

.pokemon-data-holder{
  text-align: center;
}

.pokemon-number {
  color: #6A6A6A;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
}

.pokemon-name {
  color: black;
  font-weight:700;
  font-size:1.5rem;
  font-weight: 700;
  width: 100%;
}

 /* Type Display */

.pokemon-types-alignment {
  width: 100%;
  margin-top: 0.5rem;
  display: inline-flex;
  justify-content: space-evenly;
}

.pokemon-type-img {
  width: 45%;
}

 /* Catch Button*/

.pokemon-button-holder {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.pokemon-capture-button {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0 15%;
  background-color: #dc3545;
  margin: 0px;
  border: solid white 0.2rem;
  transition: 0.5s;
  margin-top:0.5rem;
}

.pokemon-capture-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: solid #dc3545 0.2rem;
  color: #dc3545;
  transition: 0.5s;
}

/* TITLES */
h1 {
  font-size : 6rem;
  font-weight: 400;
  top: 40%;
  left: 40%;
  font-family: cursive;
  background: linear-gradient(to right,blue, white, red, blue, white, red, blue, white, red, blue, white, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-top: 200px;

}

.main-container {
  margin-left: 10%;
  margin-right: 10%;
}